<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your order!</h1>
    <p>
      You have successfully placed an order with Jungle.com. Your order ID is <%= @order.id %>. 
    </p>
    <p>
      Here are your order details.
    </p>
    <p>Thanks for ordering with us and have a great day!</p>
  </body>
</html>